<div class="panes">
  <div class="tabcontainer">
    <div class="tabbar">
      <div class="tab active">Character</div>
      <div class="tab inactive">Skills</div>
      <div class="tab inactive">Titles (<%= @titles.length %>)</div>
    </div>
    <div class="box active character">
      <%= erb :_character_header %>
      <table>
        <tbody>
          <tr>
            <td>Strength</td>
            <td>(<%= @character[:strength_creation] %>) <%= @character[:strength_base] %></td>
          </tr>
          <tr>
            <td>Endurance</td>
            <td>(<%= @character[:endurance_creation] %>) <%= @character[:endurance_base] %></td>
          </tr>
          <tr>
            <td>Coordination</td>
            <td>(<%= @character[:coordination_creation] %>) <%= @character[:coordination_base] %></td>
          </tr>
          <tr>
            <td>Quickness</td>
            <td>(<%= @character[:quickness_creation] %>) <%= @character[:quickness_base] %></td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>(<%= @character[:focus_creation] %>) <%= @character[:focus_base] %></td>
          </tr>
          <tr>
            <td>Self</td>
            <td>(<%= @character[:self_creation] %>) <%= @character[:self_base] %></td>
          </tr>
          <tr>
            <td>Health</td>
            <td><%= @character[:health_base] %></td>
          </tr>
          <tr>
            <td>Stamina</td>
            <td><%= @character[:stamina_base] %></td>
          </tr>
          <tr>
            <td>Mana</td>
            <td><%= @character[:mana_base] %></td>
          </tr>
        </tbody>
      </table>
      <table class="character-footer">
        <tbody>
          <tr>
            <td>Skill Credits Available</td>
            <td><%= @character[:skill_credits] %></td>
          </tr>
          <tr>
            <td>Unassigned Experience</td>
            <td><%= with_commas(@character[:unassigned_xp].to_i) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box inactive">
      <%= erb :_character_header %>
      <table>
        <thead>
          <tr>
            <th class="specialized" colspan="3">Specialized</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:specialized].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
        <thead>
          <tr>
            <th class="trained" colspan="3">Trained</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:trained].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
        <thead>
          <tr>
            <th class="untrained" colspan="3">Untrained</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:untrained].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
        <thead>
          <tr>
            <th class="unusable" colspan="3">Unusable</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:unusable].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="box inactive padded">
      <ul class="titles">
        <% @titles.each do |title| %>
          <% if @character.current_title == title.title_id %>
            <li class="highlight"><%= title(title.title_id) %></li>
          <% else %>
            <li><%= title(title.title_id) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="tabcontainer">
    <div class="tabbar">
      <div class="tab active">Allegiance</div>
      <div class="tab inactive">Other</div>
    </div>
    <div class="box active padded divided">
      <div>
        <div class="larger"><%= rank(@character.race_id, @character.gender_id, @character.rank) %> <%= @character.name %></div>
        <div><%= @character[:allegiance_name] %></div>
        <div>Followers: <%= @character[:followers] %> | Rank: <%= @character[:rank] %></div>
      </div>
      <div>
        <h4>Monarch</h4>
        <% if @character.monarch %>
          <div><a href="/<%= @character.monarch[:server] %>/<%= @character.monarch[:name] %>"><%= rank(@character.monarch[:race_id], @character.monarch[:gender_id], @character.monarch[:rank]) %> <%= @character.monarch[:name] %></a></div>
          <div>Followers: <%= @character.monarch[:followers] %></div>
        <% else %>
          No Monarch
        <% end%>
      </div>
      <div>
        <h4>Patron</h4>
        <% if @character.patron %>
          <a href="/<%= @character.patron[:server] %>/<%= @character.patron[:name] %>"><%= rank(@character.patron[:race_id], @character.patron[:gender_id], @character.patron[:rank]) %> <%= @character.patron[:name] %></a>
        <% else %>
          No Patron
        <% end%>
      </div>
      <div>
        <h4>Vassals</h4>
        <% if @character.vassals.length == 0 %>
          No vassals.
        <% end %>
        <ul class="vassals">
          <% @character.vassals.each do |vassal| %>
          <li><a href="/<%= vassal[:server] %>/<%= vassal[:name] %>"><%= rank(vassal[:race_id], vassal[:gender_id], vassal[:rank]) %> <%= vassal[:name] %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="box inactive other">
      <div>
        <div>You were born on <%= @character[:born] %>.</div>
        <div>You have played for <%= @character[:age] %>.</div>
        <div>You have died <%= @character[:deaths] %> times.</div>
      </div>

      <div>
        <% if @properties[:masteries][:melee] %>
          <div>Your melee mastery is <%= @properties[:masteries][:melee] %>.</div>
        <% end %>
        <% if @properties[:masteries][:ranged] %>
          <div>Your ranged mastery is <%= @properties[:masteries][:ranged] %>.</div>
        <% end %>
        <% if @properties[:masteries][:summoning] %>
          <div>Your summoning mastery is <%= @properties[:masteries][:summoning] %>.</div>
        <% end %>
      </div>

      <div>
        <% @properties[:ratings].each do |k,v| %>
          <div>Your <%= v[:name] %> rating is <%= v[:value] %>.</div>
        <% end %>
      </div>

      <div>
        <div>You have <%= @properties[:aetheria_slots] %> aetheria slots.</div>
        <div>You have been enlightened <%= @properties[:times_enlightened] %> times.</div>
      </div>

      <div>
        <div>Your chess rank is <%= @properties[:chess_rank] || 0 %>.</div>
        <div>Your fishing skill is <%= @properties[:fishing_skill] || 0 %>.</div>
      </div>

      <% if @properties[:housing_purchase_date] %>
        <div>
          <div>You purchased housing last on <%= Time.at(@properties[:housing_purchase_date]).strftime("%Y/%m/%d %r") %>.</div>
        </div>
      <% end %>

      <% if @properties[:society] %>
        <div>
          <div>You are a member of the <%= @properties[:society][:name] %> (Rank <%= @properties[:society][:value] %>)</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tabcontainer">
    <div class="tabbar">
      <div class="tab active">Augs</div>
      <div class="tab inactive">Auras</div>
      <div class="tab inactive">Ratings</div>
    </div>
    <div class="box active">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Uses</th>
          </tr>
        </thead>
        <tbody>
          <% @properties[:augmentations].each do |k,v| %>
          <tr>
            <td><%= v[:name] %></td>
            <td><%= v[:value] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="box inactive">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Uses</th>
          </tr>
        </thead>
        <tbody>
          <% @properties[:auras].each do |k,v| %>
          <tr>
            <td><%= v[:name] %></td>
            <td><%= v[:value] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="box inactive">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Uses</th>
          </tr>
        </thead>
        <tbody>
          <% @properties[:ratings].each do |k,v| %>
          <tr>
            <td><%= v[:name] %></td>
            <td><%= v[:value] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
