<div class="panes">
  <div class="tabcontainer">
    <div class="tabbar">
      <div class="tab active">Character</div>
      <div class="tab inactive">Skills</div>
      <div class="tab inactive">Titles (<%= @titles.length %>)</div>
    </div>
    <div class="box active character">
      <%= erb :_character_header %>
      <table>
        <tbody>
          <tr>
            <td>Strength</td>
            <td>(<%= @character[:strength_creation] %>) <%= @character[:strength_base] %></td>
          </tr>
          <tr>
            <td>Endurance</td>
            <td>(<%= @character[:endurance_creation] %>) <%= @character[:endurance_base] %></td>
          </tr>
          <tr>
            <td>Coordination</td>
            <td>(<%= @character[:coordination_creation] %>) <%= @character[:coordination_base] %></td>
          </tr>
          <tr>
            <td>Quickness</td>
            <td>(<%= @character[:quickness_creation] %>) <%= @character[:quickness_base] %></td>
          </tr>
          <tr>
            <td>Focus</td>
            <td>(<%= @character[:focus_creation] %>) <%= @character[:focus_base] %></td>
          </tr>
          <tr>
            <td>Self</td>
            <td>(<%= @character[:self_creation] %>) <%= @character[:self_base] %></td>
          </tr>
          <tr>
            <td>Health</td>
            <td><%= @character[:health_base] %></td>
          </tr>
          <tr>
            <td>Stamina</td>
            <td><%= @character[:stamina_base] %></td>
          </tr>
          <tr>
            <td>Mana</td>
            <td><%= @character[:mana_base] %></td>
          </tr>
        </tbody>
      </table>
      <table class="character-footer">
        <tbody>
          <tr>
            <td>Skill Credits Available</td>
            <td><%= @character[:skill_credits] %></td>
          </tr>
          <tr>
            <td>Unassigned Experience</td>
            <td><%= with_commas(@character[:unassigned_xp].to_i) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box inactive">
      <%= erb :_character_header %>
      <table>
        <thead>
          <tr>
            <th colspan="3">Specialized</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:specialized].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
        <thead>
          <tr>
            <th colspan="3">Trained</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:trained].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
        <thead>
          <tr>
            <th colspan="3">Untrained</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:untrained].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
        <thead>
          <tr>
            <th colspan="3">Unusable</th>
          </tr>
        </thead>
        <tbody>
          <% @skills[:unusable].each do |skill| %>
            <tr>
              <td>[ ]</td>
              <td><%= skill(skill[:skill_id]) %></td>
              <td><%= skill[:base] %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="box inactive">
      <ul class="titles">
        <% @titles.each do |title| %>
          <% if @character.current_title == title.title_id %>
            <li class="highlight"><%= title(title.title_id) %></li>
          <% else %>
            <li><%= title(title.title_id) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="tabcontainer">
    <div class="tabbar">
      <div class="tab active">Allegiance</div>
      <div class="tab inactive">Properties</div>
    </div>
    <div class="box active padded">
      <div><%= @character[:allegiance_name] %></div>
      <div>
        Followers: <%= @character[:followers] %> | Rank: <%= @character[:rank] %>
      </div>
      <h4>Monarch</h4>
      <% if @character.monarch %>
        <div><a href="/<%= @character.monarch[:server] %>/<%= @character.monarch[:name] %>"><%= rank_name(@character.monarch[:race_id], @character.monarch[:gender_id], @character.monarch[:rank]) %> <%= @character.monarch[:name] %></a></div>
        <div>Followers: <%= @character.monarch[:followers] %></div>
      <% else %>
        No Monarch
      <% end%>
      <h4>Patron</h4>
      <% if @character.patron %>
        <a href="/<%= @character.patron[:server] %>/<%= @character.patron[:name] %>"><%= rank_name(@character.patron[:race_id], @character.patron[:gender_id], @character.patron[:rank]) %> <%= @character.patron[:name] %></a>
      <% else %>
        No Patron
      <% end%>
      <br />
      <h4>Vassals</h4>
      <% if @character.vassals.length == 0 %>
        No vassals.
      <% end %>
      <ul class="vassals">
        <% @character.vassals.each do |vassal| %>
        <li><a href="/<%= vassal[:server] %>/<%= vassal[:name] %>"><%= rank_name(vassal[:race_id], vassal[:gender_id], vassal[:rank]) %> <%= vassal[:name] %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="box inactive">
      <ul>
        <% @character.properties.each do |property| %>
        <li><%= property[:property_id] %>: <%= property[:value] %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>