<h2><%= @character[:name] %> (<%= @character[:server] %>)</h2>

<% if !@character.level %>
  <p>This character is incomplete so only its allegiance chain is shown.</p>
<% else %>
  <%= erb :_full_character %>
<% end %>

<h4>Chain</h4>
<div id="chain-container">
  <div class="toggle">Maximize</div>
  <div id="chain" data-server="<%= @character.server %>" data-name="<%= @character.name %>"><span>Loading...</span></div>
</div>

<script src="<%= javascript_path("d3.v5.min") %>"></script>
<script src="<%= javascript_path("chain") %>"></script>
<script src="<%= javascript_path("tabs") %>"></script>
<script>

  // Tabs
  const containers = document.getElementsByClassName("tabcontainer");

  for (let i = 0; i < containers.length; i++) {
    tabs(containers[i]);
  }
</script>
