<h2>Character</h2>

<%= @character[:name] %>

<h3>Skills</h3>
<ul>
  <% @character.skills.each do |skill| %>
  <li>id: <%= skill[:skill_id] %>, training: <%= skill[:training_id] %></li>
  <% end %>
</ul>

<h3>Vassals</h3>
<ul>
  <% @character.vassals.each do |vassal| %>
  <li><a href="/<%= vassal[:server] %>/<%= vassal[:name] %>"><%= vassal[:server] %>/<%= vassal[:name] %></a></li>
  <% end %>
</ul>