<h2><%= @character[:name] %> (<%= @character[:server] %>)</h2>

<% if !@character.level %>
  <p>This character is incomplete so only its allegiance chain is shown.</p>
<% else %>
  <%= erb :_full_character %>
<% end %>

<h4>Chain</h4>
<div id="chain" data-server="<%= @character.server %>" data-character="<%= @character.name %>">
  <div class="message">Loading...</div>
</div>

<script src="/js/chain.js"></script>
<script src="/js/tabs.js"></script>
<script>
// Chain
const chainEl = document.getElementById("chain");

if (chainEl) {
  chain(chainEl, chainEl.dataset.server, chainEl.dataset.character);
}

// Tabs
const containers = document.getElementsByClassName("tabcontainer");

for (let i = 0; i < containers.length; i++) {
  tabs(containers[i]);
}
</script>
