<h2>Characters</h2>

<%= erb :_page_controls %>

<ul>
<% @characters.each do |character| %>
  <li><a href="/<%= character[:server] %>/<%= character[:name] %>"><%= character[:server] %>/<%= character[:name] %></a></li>
<% end%>
</ul>

<%= erb :_page_controls %>
