<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "TreeStats" %></title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta name="Description" content="Character tracking for Turbine's Asheron's Call">
    <link href="/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="<%= stylesheet_path("application") %>" />
    <% if @og %><meta property="og:title" content="<%= @og[:title] %>" />
    <meta property="og:description" content="<%= @og[:description] %>" />
    <meta property="og:url" content="<%= @og[:url] %>" /><% end %>
  </head>
  <body>
    <nav>
      <h1><a href="/">🌳 treestats</a></h1>
      <div class="burger">
        <button>
          <svg viewBox="0 0 100 80" width="30" height="30">
            <rect width="100" height="20" rx="5"></rect>
            <rect y="30" width="100" height="20" rx="5"></rect>
            <rect y="60" width="100" height="20" rx="5"></rect>
          </svg>
        </button>
      </div>
      <div class="navitems">
        <ul>
          <li><a href="/servers">Servers</a></li>
          <li><a href="/allegiances">Allegiances</a></li>
          <li><a href="/rankings">Rankings</a></li>
          <li><a href="/titles">Titles</a></li>
          <li><a href="/populations">Populations</a></li>
        </ul>
        <ul>
          <li><a href="/api">API</a></li>
          <li><a href="/get_started">Get Started</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <form id="search" action="/search">
        <input type="text" aria-label="Search" id="query" name="query" placeholder="Search" />
      </form>

      <%= yield %>
    </main>
    <footer>
      This is a footer
    </footer>
    <script src="<%= javascript_path("treestats") %>"></script>
  </body>
</html>
