<h2><%= @ranking.capitalize %></h2>

<%= erb :_page_controls %>

<table>
  <thead>
    <tr>
      <th>Server</th>
      <th>Character</th>
      <th><%= @ranking %></th>
    </tr>
  </thead>
  <tbody>
  <% @characters.each do |character| %>
    <tr>
      <td><a href="/<%= character[:server] %>"><%= character[:server] %></a></td>
      <td><a href="/<%= character[:server] %>/<%= character[:name] %>"><%= character[:name] %></a></td>
      <td><%= character[@value_col] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= erb :_page_controls %>
