<h2>Search</h2>

<div>
  Query is: '<%= @query %>'
</div>

<div>
  <% if @page > 1 %>
  <a href="/search?query=<%= @query %>&page=<%= @page - 1 %>">Prev</a>
  <% else %>
  Prev
  <% end %>

  | Page <%= @page %> |
  <a href="/search?query=<%= @query %>&page=<%= @page + 1 %>">Next</a>
</div>
<div>
  <% if @characters.count == 0 %>
  No characters to show.
  <% else %>
  <ul>
  <% @characters.each do |character| %>
    <li><a href="/<%= character[:server] %>/<%= character[:name] %>"><%= character[:server] %>/<%= character[:name] %></a></li>
  <% end%>
  </ul>
  <% end %>
</div>
<div>
  <% if @page > 1 %>
  <a href="/search?query=<%= @query %>&page=<%= @page - 1 %>">Prev</a>
  <% else %>
  Prev
  <% end %>
  | Page <%= @page %> |
  <a href="/search?query=<%= @query %>&page=<%= @page + 1 %>">Next</a>
</div>