<h2><%= @server %></h2>

<% if @characters.empty? %>
  <div class="listing">No characters to show.</listing>
<% else %>
  <ul class="listings">
    <% @characters.each do |character| %>
      <li><a href="/<%= character[:server] %>/<%= character[:name] %>"><%= character[:server] %>/<%= character[:name] %></a></li>
    <% end%>
  </ul>
<% end %>
